body {
  height: 100%;
  margin: 0;
  position: absolute;
  width: 100%;
}

.container {
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000, #666);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top left, #000, #666); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  height: inherit;
  padding: 30px 0 200px;
  width: inherit;
}

@font-face {
  font-family: ClearSans-Thin;
  src: url('../fonts/ClearSans/ClearSans-Thin.ttf');
}

@font-face {
  font-family: Bauru;
  src: url('../fonts/Bauru.ttf');
}

.header__title {
  color: #d5d5d8;
  font-family: Bauru;
  font-size: 60px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  top: 10%;
}

.header__description {
  color: #d5d5d8;
  font-family: ClearSans-Thin;
  font-size: 22px;
  text-align: center;
}

.playlist__embed {
  margin-top: 20px;
  text-align: center;
}